<header class="admin-header">
    <div class="header-left">
        <div class="logo-container">
            <img src="logo-uteq.png" alt="Logo UTEQ" class="logo-img" />
        </div>

        <div class="header-title">
            @if (isAdmin) {
                <h1>TDI's — Panel Admin</h1>
                <p>{{ getNombreUsuario() }} · Desarrollo Humano</p>
            } @else {
                <h1 class="title-alumno">Tokens de Desarrollo Integral</h1>
                <p>Matrícula {{ getMatricula() }}</p>
            }
        </div>
    </div>

    <div class="header-right">
        @if(isAdmin) {
            <button class="btn-header" (click)="cerrarSesion()">
                <i class="pi pi-shield"></i>
                <span>{{ getNombreUsuario() }}</span>
                <i class="pi pi-sign-out"></i>
            </button>
        } @else {
            <button class="btn-header" (click)="cerrarSesion()">
                <i class="pi pi-user"></i> 
                <span>{{ getMatricula() }}</span> 
                <i class="pi pi-sign-out"></i>
            </button>
        }
    </div>
</header>