<nav class="navbar-container">

    @if (rolUsuario() === 'ADMINISTRADOR') {
        <div class="nav-group admin-theme">
            <a routerLink="/admin/resumen" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{ exact: true }">
                <i class="pi pi-chart-bar"></i> Resumen
            </a>
            <a routerLink="/admin/alumnos" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{ exact: false }">
                <i class="pi pi-users"></i> Alumnos <span class="badge-count text-orange">(57)</span>
            </a>
            <a routerLink="/admin/solicitudes" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{ exact: false }">
                <i class="pi pi-file"></i> Solicitudes <span class="badge-solicitud">3</span>
            </a>
            <a routerLink="/admin/catalogo" routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{ exact: false }">
                <i class="pi pi-book"></i> Catálogo
            </a>
        </div>
    }
    
    @if(rolUsuario() === 'ALUMNO') {
            <div class="nav-group alumno-theme">
                <a routerLink="/alumno/progreso" routerLinkActive="active" class="nav-item">
                    <i class="pi pi-th-large"></i> Mi Progreso
                </a>
                <a routerLink="/alumno/nueva-solicitud" routerLinkActive="active" class="nav-item">
                    <i class="pi pi-plus"></i> Nueva Solicitud
                </a>
                <a routerLink="/alumno/mis-solicitudes" routerLinkActive="active" class="nav-item">
                    <i class="pi pi-copy"></i> Mis Solicitudes
                </a>
                <a routerLink="/alumno/catalogo" routerLinkActive="active" class="nav-item">
                    <i class="pi pi-book"></i> Catálogo
                </a>
            </div>
        }

    @if(rol === 'INTERNO') {
        <div class="nav-group alumno-theme">
            <a routerLink="/interno/nueva-actividad" routerLinkActive="active" class="nav-item">
                <i class="pi pi-plus"></i> Nueva Actividad
            </a>
            <a routerLink="/interno/mis-actividades" routerLinkActive="active" class="nav-item">
                <i class="pi pi-copy"></i> Mis Actividades
            </a>
        </div>
    }

    @if(rol === 'EXTERNO') {
        <div class="nav-group alumno-theme">
            <a routerLink="/externo/nueva-actividad" routerLinkActive="active" class="nav-item">
                <i class="pi pi-plus"></i> Nueva Actividad
            </a>
            <a routerLink="/externo/mis-actividades" routerLinkActive="active" class="nav-item">
                <i class="pi pi-copy"></i> Mis Actividades
            </a>
        </div>
    }
</nav>